# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Jump.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity projects\Mi-primer-juego-en-Unity-3D\Jump\.idea\.idea.Jump\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
